.progress {
  height: 394px;
  padding-top: 22px;
  padding-left: 21px;
  border-bottom: 3px solid grey;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.progress__top-text {
  position: absolute;
  height: 17px;
  font-family: 'Bubbler One', sans-serif;
  font-size: 24px;
  color: grey;
  text-align: center;
  line-height: 17px;
  font-weight: bold;
  top: -26px;
  left: 0;
  width: 100%;
  white-space: nowrap;
}

.progress__bottom-text {
  position: absolute;
  height: 17px;
  font-family: 'Bubbler One', sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 17px;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  left: 0;
}

.progress .progress__step_in-progress .progress__bottom-text {
  color: green;
  top: 31px;
  letter-spacing: -1px;
}

.progress .progress__step_warning .progress__bottom-text {
  color: orange;
  top: 31px;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.progress .progress__step_warning .progress__top-text {
  letter-spacing: -1px;
  word-spacing: -1px;
}

.progress .progress__step_error .progress__bottom-text {
  color: red;
  top: 31px;
  letter-spacing: -1px;
}

.progress .progress__step_error .progress__top-text {
  letter-spacing: -1px;
}

.progress__steps {
  display: flex;
  padding-bottom: 10px;
  padding-right: 40px;
}

.progress__step {
  height: 17px;
  flex: 1 1;
  margin: 6px 0 101px 0;
  display: flex;
  position: relative;
}

.progress__step_success {
  background-color: green;
}

.progress__step_success .progress__half-arrow {
  background-color: green;
  border: 4px solid green;
}

.progress__step_success .progress__half-arrow::after {
  border-left: 8px solid green;
}

.progress__step_success .progress__arrow {
  background-color: green;
  border: 4px solid green;
}

.progress__step_success .progress__arrow::before {
  border-left: 8px solid green;
}

.progress__step_success .progress__arrow::after {
  border-left: 8px solid green;
}

.progress__step_success .progress__circle {
  border: 4px solid green;
}

.progress__step_success .progress__circle::before {
  background-color: green;
}

.progress__step_in-progress {
  background-color: white;
}

.progress__step .progress__step_in-progress::after {
  content: "В процессе"
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: green;
}

.progress__step_in-progress .progress__half-arrow {
  background-color: white;
  border-top: 3px solid green;
  border-left: 3px solid green;
  border-bottom: 3px solid green;
  border-right: none;
}

.progress__step_in-progress .progress__half-arrow::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background: inherit;
  top: 0;
  right: -0.38em;
  margin: auto;
  border: 3px solid green;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  z-index: 2;
}

.progress__step_in-progress .progress__arrow {
  background-color: white;
  border-top: 3px solid green;
  border-left: none;
  border-bottom: 3px solid green;
  border-right: none;
}

.progress__step_in-progress .progress__arrow::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background: inherit;
  top: 0;
  left: -0.1em;
  margin: auto;
  border: 3px solid green;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  z-index: 1;
}

.progress__step_in-progress .progress__arrow::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background: inherit;
  top: 0;
  right: -0.38em;
  margin: auto;
  border: 3px solid green;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  z-index: 2;
}

.progress__step_in-progress .progress__circle {
  border: 4px solid green;
}

.progress__step_in-progress .progress__circle::before {
  background-color: white;
}

.progress__step_warning {
  background-color: white;
}

.progress__step_warning .progress__half-arrow {
  background-color: white;
  border: 3px solid orange;
  border-right: none;
}

.progress__step_warning .progress__half-arrow::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background: inherit;
  top: 0;
  right: -0.36em;
  margin: auto;
  border: 3px solid orange;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  z-index: 2;
}

.progress__step_warning .progress__arrow {
  background-color: white;
  border: 3px solid orange;
  border-left: none;
  border-right: none;
}

.progress__step_warning .progress__arrow::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background: inherit;
  top: 0;
  left: -0.1em;
  margin: auto;
  border: 3px solid orange;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  z-index: 1;
}

.progress__step_warning .progress__arrow::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background: inherit;
  top: 0;
  right: -0.38em;
  margin: auto;
  border: 3px solid orange;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  z-index: 2;
}

.progress__step_warning .progress__circle {
  border: 4px solid orange;
}

.progress__step_warning .progress__circle::before {
  background-color: white;
}

.progress__step_error {
  background-color: red;
}

.progress__step_error .progress__half-arrow {
  background-color: red;
  border: 4px solid red;
}

.progress__step_error .progress__half-arrow::after {
  border-left: 8px solid red;
}

.progress__step_error .progress__arrow {
  background-color: red;
  border: 4px solid red;
}

.progress__step_error .progress__arrow::before {
  border-left: 8px solid red;
}

.progress__step_error .progress__arrow::after {
  border-left: 8px solid red;
}

.progress__step_error .progress__circle {
  border: 4px solid red;
}

.progress__step_error .progress__circle::before {
  background-color: red;
}

.progress__half-arrow {
  flex: 1 1 auto;
  background-color: grey;
  height: 15px;
  border: 4px solid grey;
  box-sizing: border-box;
  margin: 1px 1px 0 1px;
  position: relative;
}

.progress__half-arrow::after {
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid grey;
  position: absolute;
  right: -11px;
  top: -5px;
}

.progress__arrow {
  flex: 2 1 auto;
  background-color: grey;
  height: 15px;
  border: 4px solid grey;
  box-sizing: border-box;
  margin: 1px 0 0 7px;
  position: relative;
}

.progress__arrow::after {
  content: "";
  border-top: 7px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid grey;
  position: absolute;
  right: -11px;
  top: -4px;
  z-index: 1;
}

.progress__arrow::before {
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
  left: -5px;
  top: -5px;
  position: absolute;
}

.progress__circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid grey;
  box-sizing: border-box;
  margin: -6px -13px 0 10px;
  position: relative;
  z-index: 2;
}

.progress__circle::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 4px;
  left: 4px;
}


.pie {
  height: 530px;
  padding-top: 52px;
}

.pie__blocks-container {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pie__quarter {
  width: calc(50% - 4px);
  margin: 2px;
  height: 228px;
  position: relative;
  box-sizing: border-box;
}

.pie .pie__quarter:first-child .pie__triangle {
  right: 0;
  bottom: 0;
  border-radius: 100% 0 0 0;
}

.pie .pie__quarter:nth-child(2) .pie__triangle {
  left: 0;
  bottom: 0;
  border-radius: 0 100% 0 0;
}

.pie .pie__quarter:nth-child(3) .pie__triangle {
  right: 0;
  top: 0;
  border-radius: 0 0 0 100%;
}

.pie .pie__quarter:nth-child(4) .pie__triangle {
  left: 0;
  top: 0;
  border-radius: 0 0 100% 0;
}

.pie .pie__quarter:nth-child(odd) {
  padding-left: 18px;
  padding-right: 95px;
}

.pie .pie__quarter:nth-child(even) {
  padding-left: 95px;
  padding-right: 18px;
}

.pie .pie__quarter:nth-child(n+3) {
  padding-top: 75px;
}

.pie__head {
  text-transform: uppercase;
  margin-top: 0;
  font-family: 'Bubbler One', sans-serif;
  font-size: 32px;
  margin-bottom: 6px;
  }

.pie__text {
  margin-top: 0;
  font-family: 'Bubbler One', sans-serif;
  font-size: 24px;
  line-height: 34px;
}

.pie__triangle {
  width: 87px;
  height: 87px;
  background-color: green;
  position: absolute;
}

.pie__quarter_red .pie__head{
  color: red;
}

.pie__quarter_red .pie__triangle{
  background-color: red;
  width: 105px;
  height: 105px;
}

.pie__quarter_yellow .pie__head {
  color: orange;
}

.pie__quarter_yellow .pie__triangle {
  background-color: orange;
  width: 95px;
  height: 95px;
}

.statistics {
  height: 70px;
  width: 877px;
  padding-top: 7px;
  padding-left: 41px;
}

.statistics__line  {
  width: 100%;
  height: 19px;
  transition: width .5s ease-out;
}

.statistics__line_progress {
  background-color: green;
}

.statistics__line_warning {
  background-color: orange;
}

.statistics__line_error {
  background-color: red;
}

.statistics__text {
  font-family: 'Bubbler One', sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 22px;
}
